.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background: url(../images/background_header.svg) no-repeat center white;
  background-size: cover;
  position: relative;
}

.header__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin: 202px 0 0 80px;
  max-width: 729px;
}

.header__span-accent {
  display: block;
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
}

.header__description {
  margin: 28px 0 0 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 40px;
  padding: 0 80px;
  font-weight: 500;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
}

.header__paragraph {
  margin: 0;
  color: #6f6f6f;
}
